/* Mixins
  =============== */

// Media query for mobile first layout
@mixin small-breakpoint {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

// Break on desktop
@mixin large-breakpoint {
    @media (min-width: #{$desktop}) {
        @content;
    }
}



@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;

    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
